    <div class="push-wrap">
        <div class="container" ng-init="init()">

            <div ng-include="'main/partials/nav.html'"></div>

            <h3 class="title">{{ 'DIVISIONS' | translate }}</h3>
			<div class="row search-wrap custom-search">
				<form class="search">
			        <div class="page-title">Division Search</div>
			        <div class="form-group search-field">
			            <label for="search-field"></label>
			            <input ng-model="search.keyword" ng-keydown="$event.keyCode === 13 && keywordSearch()" type="text" class="form-control" id="search-field" placeholder="Keyword Search" />
			        </div>
			
			        <div class="btn-group" ng-click="keywordSearch()">
			            <div class="search-regular">
			                <button type="button" class="btn btn-custom bmd-btn-fab" uib-tooltip="Keyword Search" tooltip-placement="bottom"><i class="glyphicon glyphicon-search"></i></button>
			            </div>
			        </div>
			        <div class="btn-group" role="group">
			            <div class="search-advance dropdown" uib-dropdown auto-close="outsideClick" is-open="showAdvSearchSection">
			                <button ng-click="showAdvSearchSection=true" type="button" class="btn btn-custom dropdown-toggle bmd-btn-fab"
			                        uib-tooltip="Advanced Search" tooltip-placement="bottom" aria-expanded="false" uib-dropdown-toggle id="adv-search-btn"><i class="glyphicon glyphicon-chevron-down"></i></button>
			                <div class="dropdown-menu dropdown-menu-center container adv-wrap" role="menu" uib-dropdown-menu ng-click="$event.stopPropagation()" >
			
			                    <div class="row">
			                        <div class="col-sm-6">
			                            <div class="form-group doc-ref-no">
			                                <label class="form-label">Name</label>
			                                <div class="form-control-wrap">
			                                    <input ng-model="search.advanceSearchCriteria.name" ng-keydown="$event.keyCode === 13 && advancedSearch()" type="text" class="form-control" id="doc-ref-no"/>
			                                </div>
			                            </div>
			                            <div class="form-group doc-ref-no">
			                                <label class="form-label">Description</label>
			                                <div class="form-control-wrap">
			                                    <input ng-model="search.advanceSearchCriteria.description" ng-keydown="$event.keyCode === 13 && advancedSearch()" type="text" class="form-control" id="doc-ref-no"/>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-sm-6">
			                        	<div class="form-group doc-ref-no">
			                                <label class="form-label">Key</label>
			                                <div class="form-control-wrap">
			                                    <input ng-model="search.advanceSearchCriteria.key" ng-keydown="$event.keyCode === 13 && advancedSearch()" type="text" class="form-control" id="doc-ref-no"/>
			                                </div>
			                            </div>
			                            <div class="form-group doc-ref-no">
			                                <label class="form-label">Parent</label>
			                                <div class="form-control-wrap">
			                                    <input ng-model="search.advanceSearchCriteria.parent" ng-keydown="$event.keyCode === 13 && advancedSearch()" type="text" class="form-control" id="doc-ref-no"/>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="clearfix"></div>
			                    </div>
			
			                    <div class="btn-wrap">
			                        <button type="button" class="btn btn-clear" id="adv-clear-btn" ng-click="clearAdvancedSearchForm()">CLEAR</button>
			                        <button type="button" class="btn btn-custom" id="adv-search-submit" ng-click="advancedSearch()">SEARCH</button>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </form>
			    <div class="adv-search-indicator" ng-show="showAdvancedSearchGuide == true"><i class="glyphicon glyphicon-star-empty"></i> You're using Advanced Search</div>
	
	    		<div class="divider search"></div>
			</div>
			
			<!-- For search results -->
            <div class="results-wrap" ng-if="searchResults.type === 'search'">
                <div class="table-top col-sm-12 no-padding">
                    <result-info search-results="searchResults" class="result-info col-sm-6 no-padding"></result-info>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-custom" ng-click="modal.divisionForm = true;">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;{{ 'ADD_DIVISION' | translate }}
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="info">
                        <th>{{ 'DIVISION_NAME' | translate }}</th>
                        <th>{{ 'DIVISION_DESCRIPTION' | translate }}</th>
                        <th>{{ 'DIVISION_KEY' | translate }}</th>
                        <th>{{ 'DIVISION_PARENT' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
						<tr ng-repeat="division in searchResults.results.content">
                            <td><a ng-click="changeLocation('divisions/' + division.nosqlId)">{{ division.name }}</a></td>
                            <td>
                                {{ division.description }}
                            </td>
                            <td style="max-width:450px; word-wrap:break-word;">{{ division.key }}</td>
                            <td>{{ division.parent.name }}</td>
                            <td>
                                <a ng-click="changeLocation('divisions/' + division.nosqlId + '/edit')"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center" ng-if="searchResults.results.totalPages > 1">
                    <page search-results="searchResults" load-list="loadDivisionsSearch(page)"></page>
                </div>
            </div><!-- /.results-wrap -->
            
            <!-- For querying all results, on init -->
            <div class="results-wrap" ng-if="searchResults.type === 'standard'">
                <div class="table-top col-sm-12 no-padding">
                    <result-info search-results="searchResults" class="result-info col-sm-6 no-padding"></result-info>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-custom" ng-click="modal.divisionForm = true;">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;{{ 'ADD_DIVISION' | translate }}
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="info">
                        <th>{{ 'DIVISION_NAME' | translate }}</th>
                        <th>{{ 'DIVISION_DESCRIPTION' | translate }}</th>
                        <th>{{ 'DIVISION_KEY' | translate }}</th>
                        <th>{{ 'DIVISION_PARENT' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="division in searchResults.results">
                            <td><a ng-click="changeLocation('divisions/' + division.nosqlId)">{{ division.name }}</a></td>
                            <td>
                                {{ division.description }}
                            </td>
                            <td style="max-width:450px; word-wrap:break-word;">{{ division.key }}</td>
                            <td>{{ division.parent.name }}</td>
                            <td>
                                <a ng-click="changeLocation('divisions/' + division.nosqlId + '/edit')"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center" ng-if="searchResults.totalPages > 1">
                    <page search-results="searchResults" load-list="loadDivisions(page)"></page>
                </div>
            </div>

        </div><!-- /.container -->

        <!-- Modals -->
        <div ng-include="'main/partials/templates/new-division-form.html'"></div>
    </div>

